<ion-content [fullscreen]="true" color="dark">

  <!-- Display -->
  <div class="display">
      <ion-input type="number" ([ngModel])="displayValue" class="ion-text-end" id="displayValue"></ion-input>
  </div>

  <!-- Botôes -->

      <!-- Primeira linha -->
      <ion-row>
        <ion-col>
          <ion-button class="botao" shape="round" color="success" (click)="buttonClick('ac')">AC</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botao" shape="round" color="secondary" (click)="buttonClick('()')">( )</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botao" shape="round" color="secondary" (click)="buttonClick('%')">%</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botao" shape="round" color="secondary" (click)="buttonClick('/')">/</ion-button>
        </ion-col>
      </ion-row>

      <!-- Segunda linha -->
      <ion-row>
        <ion-col>
          <ion-button class="botao" shape="round" color="light" (click)="buttonClick('7')">7</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botao" shape="round" color="light" (click)="buttonClick('8')">8</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botao" shape="round" color="light" (click)="buttonClick('9')">9</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botao" shape="round" color="secondary" (click)="buttonClick('*')">*</ion-button>
        </ion-col>
      </ion-row>

      <!-- Terceira linha -->
      <ion-row>
        <ion-col>
          <ion-button class="botao" shape="round" color="light" (click)="buttonClick('4')">4</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botao" shape="round" color="light" (click)="buttonClick('5')">5</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botao" shape="round" color="light" (click)="buttonClick('6')">6</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botao" shape="round" color="secondary" (click)="buttonClick('-')">-</ion-button>
        </ion-col>
      </ion-row>

      <!-- Quarta linha -->
      <ion-row>
        <ion-col>
          <ion-button class="botao" shape="round" color="light" (click)="buttonClick('1')">1</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botao" shape="round" color="light" (click)="buttonClick('2')">2</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botao" shape="round" color="light" (click)="buttonClick('3')">3</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botao" shape="round" color="secondary" (click)="buttonClick('+')">+</ion-button>
        </ion-col>
      </ion-row>

      <!-- Quinta linha -->
      <ion-row>
        <ion-col>
          <ion-button class="botao" shape="round" color="light" (click)="buttonClick('0')">0</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botao" shape="round" color="light" (click)="buttonClick(',')">,</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botao" shape="round" color="light" (click)="buttonClick('⌫')">⌫</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botao" shape="round" color="warning" (click)="buttonClick('=')" id="res">=</ion-button>
        </ion-col>
      </ion-row>
      
</ion-content>
